body{font-family: Georgia, 'Times New Roman', Times, serif;}
body {background: lightgray;}

 h2, p, .readme-wrapper { text-align: center; 
    }
a {color: aqua; text-decoration: none;}
a:hover {background-color: lime;}


