body{font-family: Georgia, 'Times New Roman', Times, serif;}
body {background: lightgray;}

 h2, p, .readme-wrapper { text-align: center; 
    }
a {color: rgb(47, 221, 221); text-decoration: none;}
a:hover {background-color: rgb(187, 60, 187);}

.bold {font-weight: 900;}

.boxes {display: block; margin:1px ; padding:1em ; border:3px solid midnightblue; border-radius:3em; width: 30em;}

#box1 {background-color: oldlace;}

#box2 {background-color: lemonchiffon;}

#box3 {background-color: lightpink;}

#box4 {background-color: lavender;}

.img {height: 50px; width: 50px; border-radius: 50px; background-color: skyblue;
    position: relative; top: 45px; left: 45px;}

h1 {color: indigo;}

.original {color: magenta;}
.additional {color: maroon;}

#show1 {color: tomato;}
#show2 {color: teal;}
#show3 {color: white;}
#show4 {color: springgreen;}
#show5 {color: sienna;}


